
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   <title>forget Password</title>
 
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/setting.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/GOSH-DRIVE-Logo1.png" type="image/png" />
    <link href="css/sticky_footer.css" rel="stylesheet">
  </head>




  <body class="text-center">




    <form class="form-signin" name="myForm" action="/dofindpassword" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
      <img class="mb-4" src="/img/GOSH-DRIVE-Logo.png" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
      <input type="hidden" name='id' value = <%=id%>>
      <input type="password" name="newpassword" required id="newpassword" class="form-control" placeholder="New Password"  autofocus>
      <input type="password" name="confirmpassword" required id="confirmpassword" class="form-control" placeholder="Confirm New Password"  autofocus>
      
      
      <br>
      <div class="checkbox mb-3">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send Verification Link</button>
      <p class="mt-5 mb-3 ">&copy; 2020 GOSH DRIVE</p>
      
    </form>

<script>

function validateForm() {
    var x = document.forms["myForm"]["newpassword"].value;
    var y = document.forms["myForm"]["confirmpassword"].value;
    if (x == ''){
      alert('no empty')
    }
    if (x != y) {
      alert("Passwords are not the same, please input again");
      return false;
    }

  }


</script>





   
  </body>

  
</html>
