<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-purple">
  <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
  <img src="img/GOSH-DRIVE-Logo.png"  height="44px" >
  <button class="navbar-toggler collapsed p-0 border-0" type="button" data-toggle="collapse" data-target="#thetarget">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse " id="thetarget">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/mainpage">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="profile">Setting</a>
      </li>
      <li>
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='/login'" type="button">Logout</button>
      </li>
      
    </ul>
    
  </div>
</nav>
